<%= bootstrap_form_for(@miembro) do |f| %>
  <% if @miembro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@miembro.errors.count, "error") %> prohibited this miembro from being saved:</h2>

      <ul>
      <% @miembro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row same-height">
    <div class="col-md-5 field">
      <%= f.text_field :idFiscal %>
    </div>
    <div class="col-md-5 field">
      <%= f.text_field :nombre %>
    </div>
    <div class="col-md-1 field">
      <%= f.text_field :estado %>
    </div>
    <div class="col-md-1 field">
      <%= f.text_field :tipo %>
    </div>
  </div>
  <div class="row same-height">
    <div class="col-md-5 field">
      <%= f.text_field :email %>
    </div>
    <div class="col-md-5 field">
      <%= f.text_field :direccion %>
    </div>
    <div class="col-md-2 actions" style="text-align:right">
      <%= f.submit "Actualizar", class: "glyphicon glyphicon-edit btn btn-default" %>
    </div>
  </div>
<% end %>
