<p id="notice"><%= notice %></p>

<h1>Listing Miembros</h1>

<table>
  <thead>
    <tr>
      <th>Idfiscal</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Tipo</th>
      <th>Email</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @miembros.each do |miembro| %>
      <tr>
        <td><%= miembro.idFiscal %></td>
        <td><%= miembro.nombre %></td>
        <td><%= miembro.estado %></td>
        <td><%= miembro.tipo %></td>
        <td><%= miembro.email %></td>
        <td><%= miembro.direccion %></td>
        <td><%= link_to 'Show', miembro %></td>
        <td><%= link_to 'Edit', edit_miembro_path(miembro) %></td>
        <td><%= link_to 'Destroy', miembro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Miembro', new_miembro_path %>
