<p class="page-notice" id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-3 col-sm-3">
        <div class="row"> <div class="col-md-11 col-sm-11 show-title"> Id </div> </div>
        <div class="row"> <div class="col-md-11 col-sm-11 show-field"> <%= @miembro.id %> </div> </div>
      </div>
      <div class="col-md-5 col-sm-3">
        <div class="row"> <div class="col-md-11 col-sm-11 show-title"> Nombre </div> </div>
        <div class="row"> <div class="col-md-11 col-sm-11 show-field"> <%= @miembro.nombre %> </div> </div>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-md-2 col-sm-3">
        <div class="row"> <div class="col-md-11 col-sm-11 show-title"> Estado </div> </div>
        <div class="row"> <div class="col-md-11 col-sm-11 show-field"> <%= @miembro.estado %> </div> </div>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-md-2 col-sm-3">
        <div class="row"> <div class="col-md-12 col-sm-12 show-title"> Tipo </div> </div>
        <div class="row"> <div class="col-md-12 col-sm-12 show-field"> <%= @miembro.tipo %> </div> </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div class="row"> <div class="col-md-11 col-sm-11 show-title"> Email </div> </div>
        <div class="row"> <div class="col-md-11 col-sm-11 show-field"> <%= @miembro.email %> </div> </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="row"> <div class="col-md-12 col-sm-12 show-title"> Dirección </div> </div>
        <div class="row"> <div class="col-md-12 col-sm-12 show-field"> <%= @miembro.direccion %> </div> </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Edit', edit_miembro_path(@miembro) %> | <%= link_to 'Back', miembros_path %>
        </div>
      </div>
    </div>
  </div>




</div>
