<p class="page-notice" id="notice"><%= notice %></p>

<h1>Vales</h1>

<table class="table table-hover table-stripped table-condensed table-bordered">
  <thead>
    <tr>
      <th><%= sortable_column_heading('Cuenta','cuenta_id asc') %> <%= resetsort_column_heading() %></th>
      <th><%= sortable_column_heading('Responsable','responsable asc') %> <%= resetsort_column_heading() %></th>
      <th><%= sortable_column_heading('Fecha Emisi칩n','fechaEmision asc') %> <%= resetsort_column_heading() %></th>
      <th><%= sortable_column_heading('Fecha Rendici칩n','fechaRendicion desc') %> <%= resetsort_column_heading() %></th>
      <th><%= sortable_column_heading('Monto Pesos','montoPesos desc') %> <%= resetsort_column_heading() %></th>
      <th><%= sortable_column_heading('Monto D칩lares','montoDolares desc') %> <%= resetsort_column_heading() %></th>
      <th>Comentarios</th>
      <th colspan="4" ></th>
    </tr>
  </thead>

  <tbody>
    <% @vales.each do |vale| %>
      <tr>
        <td><%= vale.cuenta_id %></td>
        <td><%= vale.responsable %></td>
        <td><%= vale.fechaEmision %></td>
        <td><%= vale.fechaRendicion %></td>        
        <td class="monto"><%= vale.montoPesos %></td>
        <td class="monto"><%= vale.montoDolares %></td>
        <td><%= vale.comentario %></td>
        <td><%= link_to vale, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-search"></span> <span class="hidden-xs hidden-sm"> Ver </span>
          <% end %>
        </td>
        <td><%= link_to edit_vale_path(vale), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-edit"></span> <span class="hidden-xs hidden-sm"> Modificar </span>
          <% end %>
        </td>
        <td><%= link_to vale, method: :delete, data: { confirm: 'Est치 seguro?' }, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-remove"></span> <span class="hidden-xs hidden-sm"> Borrar </span>
          <% end %>
        </td>
        <td><%= link_to [:rendir, vale] , class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-check"></span> <span class="hidden-xs hidden-sm"> Rendir </span>
          <% end %>
        </td>
      </tr>
    <% end %>
      <tr class="total-row">
        <td colspan="5" class="total-row total-row-title"> Total </td>
        <td class="total-row total-column"><%= @totals[:SumaPesos]  %></td>
        <td class="total-row total-column"><%= @totals[:SumaDolares] %></td>
        <td colspan="5"></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to new_vale_path, class: "btn btn-default" do %>
<span class="glyphicon glyphicon-plus"></span> Nuevo Vale
<% end %>
