<p id="notice"><%= notice %></p>

<h1>Vales</h1>

<table class="table table-hover table-stripped table-condensed table-bordered">
  <thead>
    <tr>
      <th>Cuenta</th>
      <th>Responsable</th>
      <th>Fecha Emision</th>
      <th>Fecha Rendicion</th>
      <th>Estado</th>
      <th>Monto Pesos</th>
      <th>Monto Dólares</th>
      <th>Comentarios</th>
      <th colspan="3" ></th>
    </tr>
  </thead>

  <tbody>
    <% @vales.each do |vale| %>
      <tr>
        <td><%= vale.cuenta_id %></td>
        <td><%= vale.responsable %></td>
        <td><%= vale.fechaEmision %></td>
        <td><%= vale.fechaRendicion %></td>
        <td><%= vale.estado %></td>
        <td><%= vale.montoPesos %></td>
        <td><%= vale.montoDolares %></td>
        <td><%= vale.comentario %></td>
        <td><%= link_to vale, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-search"></span> Ver
          <% end %>
        </td>
        <td><%= link_to edit_vale_path(vale), class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-edit"></span> Modificar
          <% end %>
        </td>
        <td><%= link_to vale, method: :delete, data: { confirm: 'Está seguro?' }, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-remove"></span> Borrar
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_vale_path, class: "btn btn-default" do %>
<span class="glyphicon glyphicon-plus"></span> Nuevo Vale
<% end %>
