<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @efectivo.fecha %>
</p>

<p>
  <strong>Pesos2:</strong>
  <%= @efectivo.Pesos2 %>
</p>

<p>
  <strong>Pesos5:</strong>
  <%= @efectivo.Pesos5 %>
</p>

<p>
  <strong>Pesos10:</strong>
  <%= @efectivo.Pesos10 %>
</p>

<p>
  <strong>Pesos20:</strong>
  <%= @efectivo.Pesos20 %>
</p>

<p>
  <strong>Pesos50:</strong>
  <%= @efectivo.Pesos50 %>
</p>

<p>
  <strong>Pesos100:</strong>
  <%= @efectivo.Pesos100 %>
</p>

<p>
  <strong>Pesosmonedas:</strong>
  <%= @efectivo.PesosMonedas %>
</p>

<p>
  <strong>Dolares1:</strong>
  <%= @efectivo.Dolares1 %>
</p>

<p>
  <strong>Dolares2:</strong>
  <%= @efectivo.Dolares2 %>
</p>

<p>
  <strong>Dolares5:</strong>
  <%= @efectivo.Dolares5 %>
</p>

<p>
  <strong>Dolares10:</strong>
  <%= @efectivo.Dolares10 %>
</p>

<p>
  <strong>Dolares20:</strong>
  <%= @efectivo.Dolares20 %>
</p>

<p>
  <strong>Dolares50:</strong>
  <%= @efectivo.Dolares50 %>
</p>

<p>
  <strong>Dolares100:</strong>
  <%= @efectivo.Dolares100 %>
</p>

<p>
  <strong>Dolaresmonedas:</strong>
  <%= @efectivo.DolaresMonedas %>
</p>

<%= link_to 'Edit', edit_efectivo_path(@efectivo) %> |
<%= link_to 'Back', efectivos_path %>
