<%= bootstrap_form_for(@movimiento, remote: true) do |f| %>
  <% if @movimiento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movimiento.errors.count, "error") %> prohibited this movimiento from being saved:</h2>

      <ul>
      <% @movimiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row same-height">
    <div class="col-md-4 field">
      <%= f.date_select :fecha %>
    </div>
    <div class="actions col-md-8" style="text-align:right">
      <%= f.submit %>
    </div>
  </div>
  <div class="row">
    <div class="field col-md-2">
      <%= f.collection_select(:cuenta_id, Cuenta.all, :id, :nombre) %> <%#Modified for bootstrap_form_for %>
    </div>
    <div class="field col-md-2">
      <%= f.text_field :IngresoPesos %>
    </div>
    <div class="field col-md-2">
      <%= f.text_field :IngresoDolares %>
    </div>
    <div class="field col-md-2">
      <%= f.text_field :EgresoPesos %>
    </div>
    <div class="field col-md-2">
      <%= f.text_field :EgresoDolares %>
    </div>
    <div class="field col-md-2">
      <%= f.text_field :Comprobante %>
    </div>
  </div>
  <div class="row">
    <div class="field col-md-12">
      <%= f.text_area :comentario %>
    </div>
  </div>
<% end %>
