<p id="notice"><%= notice %></p>

<h1> Movimientos</h1>



<%= search_form_for @search do |f| %>
  <div class="row">
    <div class="date-range-filter col-md-8">
      <div class="form-group">
        <%= label_tag :q_created_at_gt %>
        <div class="row no-padding-bottom">
          <div class="col-md-6">
            <div class="input-group">
              <%= f.text_field :created_at_gt, :class => 'datepicker datepicker-from form-control', :value => params[:q][:created_at_gt] %>
              <span class="input-group-addon">
                <i class="icon icon-calendar"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>




<%= list -%>


<h1><%= @totals[:SumaPesos] -%></h1>

<!-- <table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Ingresopesos</th>
      <th>Ingresodolares</th>
      <th>Egresopesos</th>
      <th>Egresodolares</th>
      <th>Comprobante</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimientos.each do |movimiento| %>
      <tr>
        <td><%= movimiento.fecha %></td>
        <td><%= movimiento.IngresoPesos %></td>
        <td><%= movimiento.IngresoDolares %></td>
        <td><%= movimiento.EgresoPesos %></td>
        <td><%= movimiento.EgresoDolares %></td>
        <td><%= movimiento.Comprobante %></td>
        <td><%= movimiento.comentario %></td>
        <td><%= link_to 'Show', movimiento %></td>
        <td><%= link_to 'Edit', edit_movimiento_path(movimiento) %></td>
        <td><%= link_to 'Destroy', movimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 -->
<br>

<%= link_to 'New Movimiento', new_movimiento_path %>
