<p id="notice"><%= notice %></p>

<p>
  <strong>Cuenta:</strong>
  <%= @cuentum.cuenta %>
</p>

<p>
  <strong>Subcuenta1:</strong>
  <%= @cuentum.subcuenta1 %>
</p>

<p>
  <strong>Subcuenta2:</strong>
  <%= @cuentum.subcuenta2 %>
</p>

<p>
  <strong>Subcuenta3:</strong>
  <%= @cuentum.subcuenta3 %>
</p>

<p>
  <strong>Subcuenta4:</strong>
  <%= @cuentum.subcuenta4 %>
</p>

<p>
  <strong>Subcuenta5:</strong>
  <%= @cuentum.subcuenta5 %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @cuentum.descripcion %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cuentum.nombre %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cuentum.estado %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @cuentum.tipo %>
</p>

<%= link_to 'Edit', edit_cuentum_path(@cuentum) %> |
<%= link_to 'Back', cuenta_index_path %>
