<%= bootstrap_form_for(@ofrenda) do |f| %>
  <% if @ofrenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ofrenda.errors.count, "error") %> prohibited this ofrenda from being saved:</h2>

      <ul>
      <% @ofrenda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%# <%= f.text_field :cuenta_id %>
    <%= f.collection_select(:cuenta_id, Cuenta.all, :id, :nombre) %> <%#Modified for bootstrap_form_for %>
  </div>
  <div class="field">
    <%= f.text_field :miembro_id %>
  </div>
  <div class="field">
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.text_field :montoPesos %>
  </div>
  <div class="field">
    <%= f.text_field :montoDolares %>
  </div>
  <div class="field">
    <%= f.text_field :esCheque %>
  </div>
  <div class="field">
    <%= f.text_field :idcheque %>
  </div>
  <div class="field">
    <%= f.text_area :comentario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
