<p class="page-notice" id="notice"><%= notice %></p>

<h1>Listing Ofrendas</h1>


<div class="row">
  <div class='col-sm-3'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker'>
        <input type='text' class="form-control" />
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
      $('#datetimepicker').datetimepicker({
        format: "dddd DD/MM/YYYY",
        showTodayButton: true,
        locale: "es"
      });
    });
  </script>
</div>



<div class="col-md-12 col-xs-12 col-sm-12" style="padding-top: 10px">
  <div class=table-responsive>
    <table class="table table-hover table-stripped table-condensed table-bordered">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Montopesos</th>
          <th>Montodolares</th>
          <th>Escheque</th>
          <th>Idcheque</th>
          <th>Comentario</th>
          <th>Cuenta</th>
          <th>Miembro</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @ofrendas.each do |ofrenda| %>
          <tr>
            <td><%= ofrenda.fecha %></td>
            <td class="monto"><%= pesos(ofrenda.montoPesos) %></td>
            <td class="monto"><%= dolares(ofrenda.montoDolares) %></td>
            <td><%= ofrenda.esCheque %></td>
            <td><%= ofrenda.idcheque %></td>
            <td><%= ofrenda.comentario %></td>
            <td><%= ofrenda.cuenta_id %></td>
            <td><%= ofrenda.miembro_id %></td>
            <td><%= link_to ofrenda, class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-search"></span> Ver
              <% end %>
            </td>
            <td><%= link_to edit_ofrenda_path(ofrenda), class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-edit"></span> Modificar
              <% end %>
            </td>
            <td><%= link_to ofrenda, method: :delete, data: { confirm: 'Está seguro?' }, class: "btn btn-default" do %>
              <span class="glyphicon glyphicon-remove"></span> Borrar
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr class="total-row">
          <td colspan="1" class="total-row total-row-title"> Total </td>
          <td class="total-row total-column"><%= pesos(@totals[:SumaOfrendaPesos])  %></td>
          <td class="total-row total-column"><%= dolares(@totals[:SumaOfrendaDolares]) %></td>
          <td colspan="8"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <%= link_to 'New Ofrenda', new_ofrenda_path %>
</div>
