<%= bootstrap_form_for(@cuenta) do |f| %>
  <% if @cuenta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cuenta.errors.count, "error") %> prohibited this cuenta from being saved:</h2>

      <ul>
      <% @cuenta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row same-height">
    <div class="col-md-4 field">
      <%= f.text_field :cuenta %>
    </div>
    <div class="col-md-1 field">
      <%= f.text_field :estado %>
    </div>
    <div class="col-md-1 field">
      <%= f.text_field :tipo %>
    </div>
    <div class="actions col-md-6" style="text-align:right">
      <%= f.submit %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 field">
      <%= f.text_field :nombre %>
    </div>
    <div class="col-md-1 field">
    </div>
    <div class="col-md-1 field">
      <%= f.text_field :subcuenta1 %>
    </div>
    <div class="col-md-1 field">
      <%= f.text_field :subcuenta2 %>
    </div>
    <div class="col-md-1 field">
      <%= f.text_field :subcuenta3 %>
    </div>
    <div class="col-md-1 field">
      <%= f.text_field :subcuenta4 %>
    </div>
    <div class="col-md-1 field">
      <%= f.text_field :subcuenta5 %>
    </div>
    <div class="col-md-1 field">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 field">
      <%= f.text_area :descripcion %>
    </div>
  </div>
<% end %>
